In [2]:
%load_ext autoreload
%autoreload 2

In [21]:
import numpy as np
import pandas as pd
import pandas_ta as ta

from gplearn.extra_functions_2 import *

from numpy.lib.stride_tricks import sliding_window_view

In [4]:
data = np.random.rand(4000, 300) 
data[::50] = np.nan
data

array([[       nan,        nan,        nan, ...,        nan,        nan,
               nan],
       [0.14837244, 0.39225758, 0.88043431, ..., 0.9680262 , 0.00177419,
        0.57217006],
       [0.89474801, 0.97672314, 0.84095432, ..., 0.05394336, 0.48959762,
        0.21585114],
       ...,
       [0.2494453 , 0.91084856, 0.64784418, ..., 0.25025547, 0.59316832,
        0.79047461],
       [0.20735456, 0.26827509, 0.5824082 , ..., 0.30868677, 0.30025723,
        0.01137576],
       [0.34148375, 0.56099868, 0.5514481 , ..., 0.39275451, 0.86243566,
        0.79204902]])

In [5]:
dffct = pd.read_parquet('/home/pennymax/proj/MFM/CrossSection/v1_basic/basic_8h_2/fct_proc.parquet')

In [6]:
datafct = dffct.bckret5.unstack().to_numpy()
display(pd.DataFrame(datafct))

,0,1,2,3,4,5,6,7,8,9,...,253,254,255,256,257,258,259,260,261,262
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.032282,NaN,NaN,NaN,NaN,NaN,-0.006922,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.003044,NaN,NaN,NaN,NaN,NaN,0.001942,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.014079,NaN,NaN,NaN,NaN,NaN,-0.014054,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.032346,NaN,NaN,NaN,NaN,NaN,0.027674,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.022536,NaN,NaN,NaN,NaN,NaN,0.025626,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3910,-0.103643,NaN,-0.028451,-0.045687,-0.033122,-0.140934,-0.061677,-0.036430,-0.035449,-0.064911,...,0.100000,-0.056712,-0.014335,NaN,-0.037909,0.033025,-0.015391,-0.049050,-0.026364,-0.017211
3911,-0.079608,NaN,-0.008715,0.000734,-0.033769,-0.063728,-0.037235,-0.037437,-0.028726,-0.033326,...,0.032860,-0.021861,0.000168,NaN,-0.026632,0.133534,0.004677,-0.027451,-0.015859,-0.020029
3912,-0.076490,NaN,0.007081,0.003673,-0.022267,-0.001847,0.000000,-0.029587,-0.017153,-0.032923,...,-0.030612,0.039559,0.003597,NaN,-0.022654,0.088710,-0.013086,-0.055348,-0.001356,-0.007282
3913,-0.018204,NaN,0.041000,0.056108,0.025714,0.089430,0.031868,0.009718,0.020463,0.003694,...,0.017040,0.055751,0.033370,NaN,0.013080,0.112760,0.031223,-0.020291,0.072368,0.024176
3914,0.006731,NaN,0.031793,0.023353,0.016487,0.053990,0.005733,-0.000930,0.002616,-0.003562,...,-0.035897,0.045233,0.007433,NaN,-0.001897,0.056891,0.000864,-0.038020,0.046512,0.003562

In [16]:
%timeit ta_CMO(datafct, 14)

3.72 ms ± 6.98 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [15]:
%timeit pd.DataFrame(datafct).apply(ta.cmo, length=14).to_numpy()

10.8 ms ± 56.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [14]:
np.allclose(ta_CMO(datafct, 14), pd.DataFrame(datafct).apply(ta.cmo, length=14).to_numpy(), equal_nan=True)

True

In [24]:
# tszs_60_add(ts_mean_5(netbuyquo3), ta_BBANDSl_5_2_2(spot_Open))

netbuyquo3 = dffct.netbuyquo3.unstack().to_numpy()
spot_Open = dffct.spot_Open.unstack().to_numpy()

x1 = ts_mean(netbuyquo3, 5)
x2 = ta_BBANDSl(spot_Open, 5,5,2,0)
ret = tszs_add(x1, x2, 60)
pd.DataFrame(ret)

array([[        nan,         nan,         nan, ...,         nan,
                nan,         nan],
       [        nan,         nan,         nan, ...,         nan,
                nan,         nan],
       [        nan,         nan,         nan, ...,         nan,
                nan,         nan],
       ...,
       [ 0.98433786,         nan,  0.16137291, ...,  0.68237165,
        -0.39629067,  2.26908206],
       [ 0.94474537,         nan,  0.30403943, ...,  1.02001645,
        -0.55597857,  2.30976217],
       [ 1.00663789,         nan,  0.51948873, ...,  0.80850968,
        -0.67124278,  2.57556312]])